$margin: 5px;

.chat{
  height: 100vh;
  display: flex;

  .chat-left-panel{
    background: $main-color;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .chat-body{
    flex-grow: 5;
    background: $secondary-color;
    display: flex;
    flex-direction: column;

    .chat-messages{
      overflow: auto;
      flex: 4;
      margin: $margin;
    }
    .chat-new-message{
      margin-bottom: 0;
    }
  }
}
