.comment{
  margin: 7px;
  margin-bottom: 15px;
  display: flex;
  .comment-info{
    text-align: center;
    .comment-user-icon{
      border-radius: 5px;
      height: 50px;
      width: 50px;
    }
    .comment-date{
      color: #939393;
      font-size: 12px;
      margin-left: 5px;
    }
  }
  .arrow-left {
    margin-left: 10px;
    margin-top: 15px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right:10px solid $main-color;
  }
  .comment-body{
    flex: 1;
    background: $main-color;
    border-radius: 5px;
    padding: 10px;

    .comment-username{
      font-weight: bold;
      padding-bottom: 5px;
      color: $userNameColor;
      .comment-command-description{
        font-weight: normal;
        color: $secondary-color;
      }
    }
    .comment-text{
      font-size: 14px;
      color: $secondary-color;

      .comment-video-item {
        display: flex;
        margin: 5px 5px 5px 0;

        .img {
          width: 100px;
          height: 60px;
          margin-right: 5px;
          border: 1px solid transparent;
          &:hover {
            border-color: $secondary-color;
          }
        }

        .info {
            a{
              color: $secondary-color;
              text-decoration: none;
              &:hover {
                color: $userNameColor;
              }
            }
        }
      }

    }
  }
}