$player-offset: 120px;

.player-page {
  width: 100%;
  height: 100vh;
  background-color: $secondary-color;
  display: flex;

  .youtube-holder {
    margin: 0 auto;
    width: 90%;
    height: 90%;

    .youtube-player {
      width: 100%;
      height: 100%;
    }
  }

  .youtube-holder__full-screen {
    height: calc(100vh) !important;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .player-data__full-screen {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba($main-color, 0.2);
    padding: 10px !important;


    .player-data-text {
      color: $userNameColor !important;
    }

    .player-data-text-large {
      color: $userNameColor !important;
    }
  }

  .player-data {
    display: flex;
    padding: 20px;

    .player-data-name {
      display: flex;
      flex-direction: column;

      .player-data-name-icon {
        height: 80px;
        width: 80px;
        border-radius: 5px;
        margin-right: 10px;
      }
    }

    .player-data-info {
      width: 100%;

      .player-data-text-large {
        font-size: 20px;
        font-weight: bold;
        color: $main-color;
      }

      .player-data-text {
        margin-right: 10px;
        color: #333;
        font-size: 20px;
      }

      .player-data-aliment {
        display: flex;
      }
    }
  }

  .player-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }

  .playlist-panel {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 350px;
    background: $main-color;
    right-border: 1px soilid #fff;

    .playlistItem {
      display: flex;
      font-weight: bold;
      margin: 5px 5px;

      .playlist-item-img{
        width: 100px;
        height: 60px;
        margin-right: 5px;
        border: 1px solid $secondary-color;
      }

      .playlist-item-info {
        font-size: 14px;

        div {
          width: 233px;
          overflow-x: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    .selected {
      color: #fff;
    }
  }
}