.player-page {
  width: 100%;
  height: 100vh;
  background-color: $secondary-color;
  display: flex;

  .youtube-holder {
    margin: 0 auto;
    width: 70%;
    height: 70%;

    .youtube-player {
      width: 100%;
      height: 100%;
    }
  }

  .youtube-holder__full-screen {
    height: 100vh !important;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .player-name {
    display: flex;
    margin: 20px auto;
    min-height: 50px;

    .user-icon {
      border-radius: 5px;
      margin-right: 10px;
    }

    span {
      font-size: 40px;
      color: $main-color;
    }
  }

  .video-data {
    text-align: center;

    p {
      margin: 5px;
    }
  }

  .player-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .playlist-panel {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 300px;
    background: $main-color;
    right-border: 1px soilid #fff;

    .playlistItem {
      display: flex;
      font-weight: bold;
      margin: 5px 5px;

      .playlist-item-img{
        width: 100px;
        height: 60px;
        margin-right: 5px;
        border: 1px solid $secondary-color;
        //border-radius: 3px;
      }

      .playlist-item-info {
        display: flex;
        flex-direction: column;

        div {
          flex: 1;
          overflow-x: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    .selected {
      color: #fff;
    }
  }

  .player-volume {
    position: absolute;
    top: 20px;
    right: 20px;

    color: #333;
    font-size: 20px;
  }
}