.text-input{
  background: #dddddd;
  display: flex;
  align-items: center;
  ::-webkit-input-placeholder{
    font-size: 20px;
  }
  .text-box{
    background: rgba(0,0,0,0);
    flex: 5;
    margin: 20px;
    resize: none;
    height: 35px;
    //width: 350px;
    border: 0;
    border-bottom: 1px solid #858d95;
    //border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    &:focus {
      border-bottom: 2px solid $main-color;
    }

  }
  .btn{
    margin: 20px;
    margin-left: 0;
    height: 50px;
    width: 80px;
    background: $main-color;
    border: 0;
    border-radius: 4px;
    color: #e8e8e8;
    font-size: 20px;
    cursor: pointer;
  }
}
